.text-white{
    color: white !important;
}
.text-muted {
    color: #999;
}
.border{
    border: 1px solid #aaa
}
hr{
    border-top: 1px solid #aaa
}

#judul{
    font-size: 1.8rem !important;
}
.hr-white{
    border-top: 1px solid #f5f5f5
}
.content {
    position: relative;
    bottom: 35px;
    background-color: black;
    color: white;
    opacity: 0.5;
    padding: 5px 20px;
}
.main-color{
    color: #29652a !important;
}
.img-clients{
    margin: 10px;
}
.list-inline{
    text-align: left;
}
.btn-xs{
    margin-left: 200px;
}
.lgx-banner.lgx-banner-typed{
    background-image: url('../img/banner_about.png');
    background-repeat: no-repeat;
    background-size: cover;

}
.lgx-about-content{
    margin-top: 30px;
    margin-bottom: 30px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: rgb(36, 66, 36);
}

.lgx-header .menu-onscroll .lgx-navbar .lgx-nav li a:hover {
    opacity: 1;
    background: transparent;
}
.vr{
    border-left: 2px solid #aaa; 
    height: 700px;
}

@media (min-width: 992px){
    .modal-lg{
        width: 1150px
    }
}

@media (max-width: 400px) {
    .img-clients{
        margin: 5px
    }
}

@media (max-width: 800px) {
    .col-hr{
        width: 30%
    }
    .col-center{
        width: 40%
    }
    .list-inline{
    text-align: center;
    }
}

@media (max-width: 768px) {
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 13px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: #29652a;
        background-image: none;
        border: 1px solid #f5f5f5;
        border-radius: 50px;
    }

    .lgx-header .menu-onscroll .lgx-navbar .lgx-nav li a {
        color: #f5f5f5;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
        background: #29652a
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #29652a;
        background: #29652a;
    }
    .p-co-0{
        padding: 0 !important
    }

    .pb-co-0{
        padding-bottom: 0 !important
    }
    .m-co-5{
        margin: 3rem !important
    }
    #judul{
        text-align: center
    }
    .vr{
        display: none;
    }
}